@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
header{
    width: 100%;
    padding: 1% 5%;
    background: #6C63FF;
    color: white;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

#confiMsg {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.msgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: lightgoldenrodyellow;
    border: 1px solid black;
}
#confiMsg h2 {
    font-size: 36px;
}
#delete,#cancel{
    width: 250px;
    padding: 10px 0;
    font-size: 18px;
    background-color: #CA3C66;
    color: white;
    border: none;
    outline: none;
}
#cancel{
    background-color: #D4D3DC;
    color: #384454;
}

.row{
    width: 90%;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -webkit-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -moz-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
}
.imgBox{
    width: 30%;
    background: url('./undraw_Reminder_re_fe15.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.formBox {
    width: 70%;
    background: white;
    height: 100%;
}

form{
    width: 50%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: flex-end;
    align-items: flex-start;
    align-content: center;
    gap: 20px;
}
.cell {
    width: 100%;
}
label {
    font-size: 18px;
}
input[type=text],
input[type=date],
input[type=number],
select {
    width: 100%;
    padding: 15px 20px;
    background: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
input:focus {
    outline: none;
}
span {
    color: red;
    font-size: 10px;
}
.erreur {
    border: 1px solid red;
}
.valide {
    border: 1px solid green;
}

input[type=redio] {
    margin-left: 10px;
}
#ajouter {
    width: 100%;
    padding: 15px 0;
    background: #6C63FF;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
}
#ajouter:hover {
    background: lightsalmon;
    color: blackQ;
}

#modifier {
    display: none;
    width: 100%;
    padding: 15px 0;
    background: lightgreen;
    border: none;
    outline: none;
}

.tableBox {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -webkit-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -moz-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
td,th{
    text-align: center;
    padding: 10px 0;
}
.modifier,.supprimer {
    padding: 10px 10px;
    background-color: #4AA3A2;
    color: white;
    border: none;
    outline: none;
}


.supprimer  {
    background-color: #CA3C66;
    margin-left: 5px;
    color: white;
}