@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0 51.33C28.96 11.84 49.85 19.37 102.67 0C119.85 -6.3 121.34 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C890.79 0 893.25 -8.46 941.57 0C963.25 3.79 960.27 24.5 980 24.5C1002.82 24.5 1001.41 4.42 1026.67 0C1071.41 -7.83 1073.34 0 1120 0C1190 0 1190 0 1260 0C1320.24 0 1325.08 -9.92 1380.47 0C1395.08 2.62 1388.16 25.07 1400 25.07C1417.02 25.07 1416.5 3.88 1438.18 0C1486.5 -8.65 1518.56 -29.47 1540 0C1569.47 40.53 1540 70 1540 140C1540 210 1540 210 1540 280C1540 329.26 1548.79 331.82 1540 378.52C1535.62 401.82 1513.65 398.43 1513.65 420C1513.65 447.17 1534.41 446.3 1540 476C1547.59 516.3 1563.01 541.01 1540 560C1512.1 583.01 1487.93 565.74 1438.18 560C1417.93 557.66 1417.46 543.85 1400 543.85C1390.5 543.85 1395.01 558.76 1384.25 560C1325.01 566.83 1322.13 560 1260 560C1190 560 1190 560 1120 560C1053.11 560 1019.45 594.2 986.22 560C951.45 524.2 987 489.03 984 420C983.89 417.54 981.83 417.02 980 417.02C978.58 417.02 977.6 418.07 977.5 420C973.91 489.56 1007.94 524.04 972.63 560C939.19 594.04 906.32 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C103.41 560 101.61 567.94 66.82 560C31.61 551.96 13.59 556.51 0 528.04C-19.82 486.51 0 474.02 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 95.66 -22.37 81.84 0 51.33' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 56C106.75 64.36 106.89 96.67 106.4 140C105.62 208.67 121.24 210.26 137.45 280C138.04 282.52 137.76 284.52 140 284.52C147.79 284.52 148.75 282.26 157.5 280C218.75 264.19 221.84 248.39 280 248.39C304.39 248.39 298.78 269.01 322.61 280C368.78 301.29 374.25 312.94 420 312.94C443.31 312.94 460.73 298.56 460.73 280C460.73 257.2 440.66 254.87 420 230.22C381.99 184.87 385.82 180.56 343.4 140C315.82 113.63 315.15 110.88 280 96.36C213.45 68.88 193.55 42.54 140 56' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 52.5C680.86 52.5 670 97.83 670 140C670 166.58 681.92 190 700 190C721.92 190 750 168.35 750 140C750 99.6 720.86 52.5 700 52.5' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 248.45C1371.78 248.45 1341.05 265.27 1341.05 280C1341.05 294.22 1371.49 306.35 1400 306.35C1421.7 306.35 1441.48 294.05 1441.48 280C1441.48 265.1 1422 248.45 1400 248.45' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 313.79C253.98 313.79 220.77 366.45 220.77 420C220.77 476.59 254.07 534.07 280 534.07C304.5 534.07 321.62 476.79 321.62 420C321.62 366.65 304.41 313.79 280 313.79' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 109.67C11.1 109.67 27.31 119.02 36.4 140C64.22 204.18 46.98 213.31 73.82 280C98.78 342.02 106.68 338.84 140 397.42C146.5 408.84 153.46 407.33 153.46 420C153.46 468.62 171.72 505.53 140 520C94.99 540.53 47.01 523.58 0 490C-22.99 473.58 0 455 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 124.84 -7.1 109.67 0 109.67' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 50.91C237.66 23.54 192.89 13.66 192.89 0C192.89 -11.79 236.44 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C586.92 0 605.52 -19.43 613.85 0C635.52 50.57 599.58 75.22 620 140C642.66 211.88 657.93 208.74 700 273.33C703.53 278.74 705.33 277.17 711.2 280C775.33 310.88 779.45 340.75 840 340.75C880.44 340.75 913.18 317.06 913.18 280C913.18 222.28 876.7 215.54 840 151.2C836.77 145.54 835.73 146.05 833.33 140C805.73 70.45 777.62 49.98 780 0C780.95 -20.02 810 0 840 0C856.47 0 858.52 -7.03 872.94 0C928.52 27.1 925.03 68.25 980 68.25C1043.56 68.25 1044.46 31.95 1110 0C1114.46 -2.18 1115 0 1120 0C1190 0 1190 0 1260 0C1299.89 0 1308.36 -17.35 1339.77 0C1378.36 21.31 1363.49 77.31 1400 77.31C1452.47 77.31 1457.29 33.38 1517.73 0C1527.29 -5.28 1538.47 -9.61 1540 0C1549.61 60.39 1540 70 1540 140C1540 210 1540 210 1540 280C1540 296.85 1546.98 313.7 1540 313.7C1530.13 313.7 1524.71 295.06 1506.3 280C1454.71 237.79 1456.8 201.92 1400 199.15C1333.65 195.92 1330.28 234.18 1260 268C1246.28 274.6 1232 274.76 1232 280C1232 285.04 1246.42 283.11 1260 288.57C1330.42 316.88 1336.56 308.29 1400 347.53C1442.8 374 1472.47 382.99 1472.47 420C1472.47 458.71 1436.76 459.98 1400 498.97C1370.77 529.98 1376.5 544.31 1340.5 560C1306.5 574.82 1300.25 560 1260 560C1190 560 1190 560 1120 560C1092 560 1069.11 579.86 1064 560C1051.11 509.86 1105.91 476.72 1084 420C1063.91 367.99 1027.48 342.55 980 342.55C942.98 342.55 935.5 375.18 915 420C885.77 483.91 909.8 505.36 880.53 560C872.3 575.36 860.26 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C520.8 560 514.58 574.81 481.6 560C444.58 543.38 447.47 531.27 420 497.14C391.13 461.27 368.92 456.54 368.92 420C368.92 390.18 392.02 389.61 420 364.41C469.74 319.61 524.36 327.57 524.36 280C524.36 221.59 472.29 216.13 420 152.44C414.82 146.13 416.02 144.78 409.43 140C346.02 94.01 345.93 93.54 280 50.91' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 308C682.4 308 660 367.48 660 420C660 447.83 681.75 468.7 700 468.7C716.48 468.7 729.47 446.48 729.47 420C729.47 366.13 717.14 308 700 308' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 5.45C274.99 5.45 270.67 1.46 270.67 0C270.67 -1.26 275.34 0 280 0C289.54 0 299.09 -1.34 299.09 0C299.09 1.39 289.2 5.45 280 5.45' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M533.08 140C533.08 121.8 549.88 105 560 105C568.34 105 570 122.37 570 140C570 161.74 568.61 183.75 560 183.75C550.15 183.75 533.08 161.17 533.08 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M922.56 140C922.56 116.43 950.14 112 980 112C1025.53 112 1073.33 111.96 1073.33 140C1073.33 181.96 1020.46 252 980 252C945.07 252 922.56 186.43 922.56 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1194.67 140C1170.44 84.26 1165.48 46.02 1186.96 0C1198.15 -23.98 1223.48 0 1260 0C1279.53 0 1285.62 -12.45 1299.07 0C1355.62 52.33 1338.69 83.99 1400 129.55C1432.9 153.99 1487.5 134.92 1487.5 140C1487.5 145.08 1443.7 144.48 1400 149.86C1329.95 158.48 1328.28 171.28 1260 168C1225.62 166.35 1206.96 168.26 1194.67 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 245C2.6 245 3.28 263.16 10.18 280C39.13 350.66 75.07 363.19 71.71 420C69.98 449.17 25.48 451.96 0 451.96C-10.37 451.96 0 435.98 0 420C0 350 0 350 0 280C0 262.5 -2.49 245 0 245' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M416.22 420C416.22 417.79 417.33 415.88 420 415.88C439.22 415.88 460 417.55 460 420C460 422.46 438.72 425.71 420 425.71C416.83 425.71 416.22 422.71 416.22 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M821.58 420C821.58 411.12 831.42 406.79 840 406.79C846.88 406.79 852.5 412.03 852.5 420C852.5 437.05 847.51 456.84 840 456.84C832.05 456.84 821.58 436.14 821.58 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1180.54 420C1202.15 378.84 1214.94 366.42 1260 360C1324.67 350.78 1334.6 365.8 1400 388.71C1420.25 395.8 1431.29 404.02 1431.29 420C1431.29 436.71 1416.03 437.42 1400 454.1C1348.76 507.42 1352.82 517.59 1296.75 560C1282.82 570.54 1278.38 560 1260 560C1207.5 560 1171.87 589.72 1155 560C1132.14 519.72 1149.65 478.84 1180.54 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M551.6 560C551.6 537.33 550.57 507.5 560 507.5C570.93 507.5 592.31 542.78 592.31 560C592.31 569.03 576.15 560 560 560C555.8 560 551.6 563.58 551.6 560' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
header{
    width: 100%;
    padding: 1% 5%;
    background: #6C63FF;
    color: white;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

#confiMsg {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.msgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: lightgoldenrodyellow;
    border: 1px solid black;
}

/* Confirmation Box animation  */
.scale-up-center {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/* Confirmation Box animation  */




#confiMsg h2 {
    font-size: 36px;
}
#delete,#cancel{
    width: 250px;
    padding: 10px 0;
    font-size: 18px;
    background-color: #CA3C66;
    color: white;
    border: none;
    outline: none;
}
#cancel{
    background-color: #D4D3DC;
    color: #384454;
}

.row{
    width: 90%;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -webkit-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -moz-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
}
.imgBox{
    width: 30%;
    background: url('./undraw_Reminder_re_fe15.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.formBox {
    width: 70%;
    background: white;
    height: 100%;
}

form{
    width: 50%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: flex-end;
    align-items: flex-start;
    align-content: center;
    gap: 20px;
}
.cell {
    width: 100%;
}
label {
    font-size: 18px;
}
input[type=text],
input[type=date],
input[type=number],
select {
    width: 100%;
    padding: 15px 20px;
    background: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
input:focus {
    outline: none;
}
span {
    color: red;
    font-size: 10px;
}
.erreur {
    border: 1px solid red;
}
.valide {
    border: 1px solid green;
}

input[type=redio] {
    margin-left: 10px;
}
#ajouter {
    width: 100%;
    padding: 15px 0;
    background: #6C63FF;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
}
#ajouter:hover {
    background: lightsalmon;
    color: blackQ;
}

#modifier {
    display: none;
    width: 100%;
    padding: 15px 0;
    background: lightgreen;
    border: none;
    outline: none;
}

.tableBox {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -webkit-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
    -moz-box-shadow: 13px 16px 78px 44px rgba(0,0,0,0.11);
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
td,th{
    text-align: center;
    padding: 10px 0;
    color: white;
}
.modifier,.supprimer {
    padding: 10px 10px;
    background-color: #4AA3A2;
    color: white;
    border: none;
    outline: none;
}


.supprimer  {
    background-color: #CA3C66;
    margin-left: 5px;
    color: white;
}